@import 'comun.scss';
.bg-dar{
    opacity: 1;
    // background-color: #45586a33 !important;
    // background-image: "../img/fondo-negro-seamless.jpg";
    
}
.card{
padding-bottom:50px;
background-color: transparent;
}
.booking{
    color:white; 
    text-align: center;
     font-family: Montserrat;
     text-decoration: underline;
}

h4{
    font-size: 40px;
    
}
.people{
    color:white;
    font-size: 30px;
    font-family: Roboto Slab;
}
.peopleselected{
    // width: 100px;
    // height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .cantidad {
    background-color: white;
    color: black;
    margin: 10px;
    width: 80px;
    height: 50px;
    border-radius: 10%;
    font-size: 30px;
    margin:0;
  }
  .btoMa {
    width: 100px;
    height: 50px;
    border-radius: 10%;
     background-color:rgba(208, 216, 239, 100);
    font-size: 30px;
  }
  .btoMe {
    width: 100px;
    height: 50px;
    border-radius: 10%;
    font-size: 30px;
    background-color:rgba(208, 216, 239, 100);
  }

.fecha{
    font-size: 30px;
    padding:10px;
    width: 250px;
    height: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

.item{
    background-color: rgba(255, 255, 255, 0.7);
    margin:20px;
    font-size: 25pt;
    width:100px;
    height:100px;
}
.mal{
    color:#c00003;
    text-align: center;
    font-size: 16pt;
}
// .botonReserva{
//     display:flex;
//     align-items: center;
//     text-align: center;
// }
div.contenedor {
    display: flex;
    justify-content: center;
    margin-bottom:50px;
    flex-direction: column;
    align-items: center;
  }
  .centrado{
    // border-radius: 50%;
    background-color: rgba(192, 0, 3, 100);
    width: 300px;
    height: 100px;
    color:white;
  }

body {
    font-family: Roboto Slab;
    color: white;
//    @include oscurecer-img(0.4,"../img/fondo-negro-seamless.jpg");
   background-image: url(../img/fondo-negro-seamless.jpg);
}

.text-uppercase {
    font-family: Montserrat;
}

h1, h2, h3, h4, .masthead-heading, .btn {
    font-weight: bold;
}

header {
    text-align: center;
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    @include oscurecer-img(0.5,"../img/restaurante.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .btn {
        background-color: #c00003;
    }
}

#pie{
    position: absolute;
    bottom: 0;
}

.masthead-heading {
    @include font-size-diff(3.25rem, 4.5rem);
    line-height: 4.5rem;
}

.masthead-subheading {
    @include font-size-diff(1.5rem, 2.25rem);
}

.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.section-subheading {
    font-size: 1rem;
    font-weight: normal;
    max-width: 650px;
}

#aboutus {
    background-image: url(../img/fondo-negro.jpg);
}

#team {
    background-color: transparent;
    background-image: linear-gradient(180deg, #030303 50%, #593002 100%);
    .team-member {
        text-align: center;
        h4 {
            margin-top: 10px;
        }
        img {
        width: 14rem;
        height: 14rem;
        border: 0.5rem solid rgba(0, 0, 0, 0.1);
        }
    }
}

@media(max-width: 450px){
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .item{
        background-color: rgba(255, 255, 255, 0.7);
        margin:20px;
        font-size: 25pt;
        width:99px;
        height:99px;
    }
}
//media tablet
@media(min-width: 768px){
    .item{
        background-color: rgba(255, 255, 255, 0.7);
        margin:20px;
        font-size: 35pt;
        width:170px;
        height:170px;
    }
    .fecha{
        font-size: 30px;
        padding:10px;
        width: 400px;
        height: 50px;
    }
    .cantidad {
        background-color: white;
        color: black;
        margin: 10px;
        width: 140px;
        height: 50px;
        border-radius: 10%;
        font-size: 30px;
        margin:0;
      }
}